.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    height: 400px;
    background-color: orange;
    /* align-content: center; */
    align-items: center;
}

.flex-item {
    flex-basis: 15%;
    height: 150px;
    background-color: red;
    flex-shrink: 1;
}

.flex-item:nth-of-type(1) {
    align-self: flex-start;
    order: 1;
    flex-shrink: 2;
    /* flex-grow: 1; */
}